.libs/
.deps/
Makefile
Makefile.in
*.o
*.lo
configure
config.cache
config.log
config.status
config.h
stamp-*
*.stamp
*.dirstamp
*.a
*.la
*POTFILES
libtool
site.exp
bfd/doc/bfd.h
bfd/doc/libbfd.h
bfd/doc/libcoff.h
binutils/bfdtest*
gas/.gdbinit
intl/config.intl
libiberty/testsuite/test-*
serdep.tmp
